.main {
    margin-left: 30vw;
    width: 55vw;
    margin-top: 10vh;
}

.main > div {
    background-color: var(--primary-color); /* Halbtransparent */
    border-radius: 15px;
    margin-bottom: 5vh;
    padding: 20px;
    box-shadow: 0 2px 8px var(--shadow-color);
}

.title-div {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10vh !important;
}

.title-div img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.title-div h2 {
    font-size: 2.5rem;
    margin-top: 10px;
    text-align: center;
}

.definition-div p,
.content-div p {
    height: 50vh;
    font-size: 1.2rem;
    line-height: 1.6;
}

.definition-div h3,
.content-div h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}
